<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="extinct_potato">
    <title>Start page</title>

    <!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body {
	padding-top: 65px;
      }
    </style>
  </head>
  <body>


<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	    <a class="navbar-brand" href="#">{{ host }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" onClick="window.location.href=window.location.href" href="">Refresh<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


  <div class="container">
	  {% for i in range(loc_count) %}
	  <div class="card">
		  <div class="card-body">
			  <div class="container" style="float: left; width:300px;">
				  <h5 class="card-title">{{ loc[i]["sp-title"] }}</h5>
				  <p class="card-text">{{ loc[i]["sp-desc"] }}</p>
			  </div>
			  <div class="container" style="float: right; width:300px;">
				  {% if ifr == True %}
				  	<a href="?url={{loc[i]["location"]}}" class="btn float-right btn-primary">Go!</a>
				  {% else %}
				  	<a href="{{loc[i]["location"]}}" class="btn float-right btn-primary">Go!</a>
				  {% endif %}
			  </div>
		  </div>
	  </div>
	  {% endfor %}
  </div>
</div><!-- /.container -->
</html>
